@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
.mat1 {
  border: 1px solid black;
}
.gameRow {
  height: 500px;
}
.deck1 {
  background-color: blue;
  width: 200px;
  height: 300px;
}
.iconBottom,
.iconBottom2 {
  transform: scaleY(-1);
}
.iconTop,
.iconTop2,
.iconBottom,
.iconBottom2 {
  font-size: 40px;
}
.number,
.number2 {
  font-size: 80px;
}
